<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.results.title}">Classement des villes pour ce week-end</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.results.greeting(${user.login})}">
            Bonjour
        </p>
        <p th:text="#{email.results.text1}">
            Voici le classement des villes pour ce week-end:
        </p>
        <table>
            <thead>
                <tr>
                    <th>Rang</th>
                    <th>Ville</th>
                    <th>Note Météo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result, count : ${allResults}">
                    <td th:text="${count.count}"></td>
                    <td th:text="${result.city.cityName}"></td>
                    <td th:text="${#numbers.formatDecimal(result.note, 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
            </tbody>
        </table>
        <p>
            <span th:text="#{email.results.text2}">Bonne fin de semaine ! </span>
            <br/>
            <em th:text="#{email.signature}">Kevin et Aurélien</em>
        </p>
    </body>
</html>
