<div class="footer">
    <p>&copy; <a href="mailto:aurelien.anne@etudiant.univ-rennes1.fr">Aurélien ANNE</a>, <a href="mailto:kevin.salmon@etudiant.univ-rennes1.fr">Kevin SALMON</a> - Université de Rennes 1 : ISTIC - Master 2 info IL - <a href="https://bitbucket.org/KevinSalmon/gli-taa-projet/">Projet GLI/TAA</a></p>
</div>
