<div>
    <h2 *ngIf="account">Sessions actives <b>{{account.login}}</b></h2>

    <div class="alert alert-success" *ngIf="success">
        <strong>Session invalidée!</strong>
    </div>
    <div class="alert alert-danger" *ngIf="error">
        <strong>Une erreur est survenue!</strong> La session ne peut pas être invalidée.
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Adresse IP</th>
                    <th>Navigateur</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let session of sessions">
                    <td>{{session.ipAddress}}</td>
                    <td>{{session.userAgent}}</td>
                    <td>{{session.tokenDate | date:'longDate'}}</td>
                    <td>
                        <button type="submit"
                                class="btn btn-primary"
                                (click)="invalidate(session.series)">
                                 Invalider la session
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
