<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="preferencesAccount">Configuration des notifications</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Préférences enregistrées</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Une erreur est survenue durant l'enregistrement</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="savePreferences()" #preferencesForm="ngForm" novalidate>
                <div class="container">
                    <style>
                        .selected{
                            border:solid #0275D8 1px;
                            border-radius: .2rem;
                            float:left; 
                            margin:2px;
                            padding:2px 15px;
                            font-size: .875rem;
                            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
                            color: #292b2c;
                        }
                        
                        .selected a{
                            cursor:pointer;
                            font-weight:bold;
                        }
                    </style>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="locations">Lieux de prédilection</label>
                                <input id="locations" name="locationQuery" type="text" style="width:100%; border:none; border-bottom:1px solid #0275D8 ;" class="form-control validate filter-input" [(ngModel)]=locationQuery (keyup)=locationFilter()>
                            </div>

                            <!-- Suggestions -->
                            <div *ngIf="locationQuery.length >= 2 && (locationFilteredList.regions.length > 0 || locationFilteredList.departments.length > 0 || locationFilteredList.cities.length > 0)" class="form-group">
                                <select class="form-control" multiple size='8'> 
                                    <optgroup *ngIf="locationFilteredList.regions.length > 0" label="Régions"></optgroup>
                                        <option *ngFor="let item of locationFilteredList.regions; let i = index" (click)="selectLocation('regions', item)">{{ item.name }}</option>
                                    </optgroup>
                                    <optgroup *ngIf="locationFilteredList.departments.length > 0" label="Départements"></optgroup>
                                        <option *ngFor="let item of locationFilteredList.departments; let i = index" (click)="selectLocation('departments', item)">{{ item.name }} ({{ item.code }})</option>
                                    </optgroup>
                                    <optgroup *ngIf="locationFilteredList.cities.length > 0" label="Villes"></optgroup>
                                        <option *ngFor="let item of locationFilteredList.cities; let i = index" (click)="selectLocation('cities', item)">{{ item.name }} ({{ item.zipCode }})</option>
                                    </optgroup>
                                </select>
                            </div>

                            <!-- Affichage des éléments sélectionnés -->
                            <div *ngFor="let item of locationSelection.regions">
                                <div class="selected">
                                    <span>{{item.name }}</span>
                                    <a (click)="removeLocation('regions', item)">x</a>
                                </div>
                            </div>
                            <div *ngFor="let item of locationSelection.departments">
                                <div class="selected">
                                    <span>{{ item.name }} ({{ item.code }})</span>
                                    <a (click)="removeLocation('departments', item)">x</a>
                                </div>
                            </div>
                            <div *ngFor="let item of locationSelection.cities">
                                <div class="selected">
                                    <span>{{ item.name }} ({{ item.zipCode }})</span>
                                    <a (click)="removeLocation('cities', item)">x</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:10px;" class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sports">Activités de plein air favorites</label>
                                <input id="sports" name="sportQuery" type="text" style="width:100%; border:none; border-bottom:1px solid #0275D8 ;" class="form-control validate filter-input" [(ngModel)]=sportQuery (keyup)=sportFilter()>
                            </div>

                            <!-- Suggestions -->
                            <div class="form-group">
                                <select class="form-control" multiple size='3' > 
                                    <option *ngFor="let item of sportFilteredList; let i = index" (click)="selectSport(item)">{{ item.sportName }}</option>
                                </select>
                            </div>

                            <!-- Affichage des éléments sélectionnés -->
                            <div *ngFor="let item of sportSelection">
                                <div class="selected">
                                    <span>{{ item.sportName }}</span>
                                    <a (click)="removeSport(item)">x</a>
                                </div>
                            </div>  
                     
                            <!-- <button style="float:right;" type="button" class="btn btn-outline-danger btn-sm" (click)="resetSportSelection()">Tout effacer</button> -->
                        </div>
                    </div>
                    <div class="form-group row" style="margin-top:10px;">
                        <div class="offset-sm-2 col-sm-10">
                            <button *ngIf="!saveInProgress" type="submit" [disabled]="preferencesForm.form.invalid" class="btn btn-primary">Enregistrer</button>
                            <button *ngIf="saveInProgress" type="submit" [disabled]="true" class="btn btn-primary">Enregistrement en cours...</button>
                            <button class="btn btn-default" routerLink="/">Annuler</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
