<div>
    <h2>
        <span>Sports</span>
        <button class="btn btn-primary float-right jh-create-entity create-sport" [routerLink]="['/', { outlets: { popup: ['sport-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Sport
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sports">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>SportName</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sport of sports ;trackBy: trackId">
                <td><a [routerLink]="['../sport', sport.id ]">{{sport.id}}</a></td>
                <td>{{sport.sportName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sport', sport.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sport/'+ sport.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sport/'+ sport.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
