<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Réinitialiser le mot de passe</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>La clé de réinitialisation du mot de passe est manquante.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Choisissez un nouveau mot de passe</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Le mot de passe n'a pas pu être réinitisalisé. Attention, une requête de mot de passe n'a valide que 24h.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Votre mot de passe a été réinitialisé.</strong> Veuillez vous </span>
                <a class="alert-link" (click)="login()">connecter</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et la confirmation ne correspondent pas!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nouveau mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="Nouveau mot de passe"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Le mot de passe est obligatoire.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                                Le mot de passe doit faire au moins 4 caractères.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                                Le mot de passe ne doit pas dépasser 50 caractères.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmation du mot de passe</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirmez le nouveau mot de passe"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                                La confirmation est obligatoire.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                                La confirmation doit faire au moins 4 caractères.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                                La confirmation ne doit pas dépasser 50 caractères.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Réinitialiser le mot de passe</button>
                </form>
            </div>

        </div>
    </div>
</div>
