<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Activation</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Votre compte a été activé.</strong> Veuillez vous </span>
                <a class="alert-link" (click)="login()">connecter</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Le compte ne peut pas être activé.</strong> Veuillez créer un compte.
            </div>

        </div>
    </div>
</div>
