<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Création de compte</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Compte créé!</strong> Un email de confirmation vous a été envoyé.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Création de compte échouée!</strong> Veuillez réessayer plus tard.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login déjà utilisé!</strong> Veuillez en choisir un autre.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email déjà utilisé!</strong> Veuillez en choisir un autre ou vous 
                <a class="alert-link" (click)="login()">connecter</a>.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et sa confirmation ne correspondent pas!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Nom d'utilisateur</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Votre nom d'utilisateur"
                            required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Le nom d'utilisateur est obligatoire.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength">
                            Le nom d'utilisateur doit faire au moins 1 caractère.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength">
                            Le nom d'utilisateur ne doit pas dépasser 50 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern">
                            Le nom d'utilisateur ne peut contenir que des lettres minuscules et des chiffres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Votre email"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required">
                            L'email est obligatoire.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid">
                            L'email est invalide.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength">
                            L'email doit faire au moins 5 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                            L'email ne doit pas dépasser 100 caractères.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Nouveau mot de passe"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required">
                            Le mot de passe est obligatoire.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength">
                            Le mot de passe doit faire au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                            Le mot de passe ne doit pas dépasser 50 caractères.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmation de mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirmer le nouveau mot de passe"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                            Veuillez confirmer votre mot de passe.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                            La confirmation de mot de passe doit faire au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                            La confirmation de mot de passe ne doit pas dépasser 50 caractères.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Créer le compte</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span>Vous possédez un compte ? Vous pouvez vous </span>
                <a class="alert-link" (click)="openLogin()">connecter</a><span>.</span>
            </div>
        </div>
    </div>
</div>
