<div class="row">
    <div class="col-md-12">
        <h1 class="display-5">
            Prévisions pour le week-end du {{ dateSat | amDateFormat:'LL' }} et {{ dateSun | amDateFormat:'LL' }}
        </h1>

        <!-- <div *ngSwitchCase="true">
            <ngb-alert type="success" [dismissible]="false">
                <span *ngIf="account"> Vous êtes connecté en tant que "{{account.login}}". </span>
            </ngb-alert>
        </div> -->

        <div class="alert alert-warning" *ngIf="!isAuthenticated()">
            <span>Vous avez un compte ? Vous pouvez vous </span>
            <a class="alert-link" (click)="login()">connecter</a><span>.</span>
        </div>

        <div class="alert alert-warning" *ngIf="!isAuthenticated()">
            <span>Si vous n'en possédez pas, vous pouvez </span>
            <a class="alert-link" routerLink="register">créer un nouveau compte</a><span>.</span>
        </div>

        <div *ngIf="isAuthenticated() && error" class="alert alert-danger">
            <span>{{ error }}</span>
        </div>

        <div *ngIf="isAuthenticated() && citiesWeather != undefined && citiesWeather.length == 0" class="alert alert-info">
            <span>Aucune donnée météo n'est disponible actuellement ou aucun lieu n'a été indiqué dans vos <a routerLink="preferences">préférences</a>.</span>
        </div>

        <div *ngIf="isAuthenticated() && !error && loading" style="text-align:center;">
            <span class="loading"></span>
            <p>Recherche en cours des meilleurs lieux en fonction de vos sports...</p>	
        </div>

        <ngb-accordion [closeOthers]="true" activeIds="static-1" *ngIf="isAuthenticated()" >
            <ngb-panel *ngFor="let city of citiesWeather; let i = index" id="static-{{i+1}}">
                <ng-template ngbPanelTitle>
                    <i *ngIf="i == 0" class="fa fa-fw fa-trophy" aria-hidden="true" style="color:gold;"></i>
                    <i *ngIf="i == 1" class="fa fa-fw fa-trophy" aria-hidden="true" style="color:silver;"></i>
                    <i *ngIf="i == 2" class="fa fa-fw fa-trophy" aria-hidden="true" style="color:#cd7f32;"></i>
                    <span><b style="font-weight: 500;">#{{ i+1 }} {{ citiesWeather[i].city.cityName }} ({{ citiesWeather[i].city.zipCode }})</b> | Note météo = {{ citiesWeather[i].note.toPrecision(3) }} </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <jhi-city-weathers [weathers]="citiesWeather[i]"></jhi-city-weathers>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
