<div class="row">
    <div class="col-md-6">                                
        <jhi-day-weather [dayWeathers]="weathers.sat" [date]="dateSat"></jhi-day-weather>
    </div>
    <div class="col-md-6">
        <jhi-day-weather [dayWeathers]="weathers.sun" [date]="dateSun"></jhi-day-weather>
    </div>
</div> 

