<ngb-alert type="secondary" [dismissible]="false">                                    
    <div class="row">
        <div class="col-md-6">
            <h4>{{ date | amDateFormat:'dddd D MMMM' }}</h4>
            <div *ngIf="dayWeatherGlobal" style="text-align:center">
                <img src="http://openweathermap.org/img/w/{{ dayWeatherGlobal.icon.substring(0,2) }}d.png" title="{{ dayWeatherGlobal.description }}" alt="{{ dayWeatherGlobal.description }}" width="100">
            </div>
        </div>
        <div class="col-md-6">
            <h4>Note finale = {{ dayWeathers.noteFinale.toPrecision(3) }} / 5</h4>
            <h5>Note météo = {{ dayWeathers.noteMeteo.toPrecision(3) }} / 5</h5>
            <h5>Sports</h5>
            <span *ngFor="let noteSport of dayWeathers.notesSport"><b>{{ noteSport.sport.sportName }} :</b> {{ noteSport.note.toPrecision(3) }}<br/></span>
        </div>
    </div>
    <button (click)="detailClick = !detailClick">
        Détails
    </button>

    <div *ngIf="detailClick">
        <table style="overflow: scroll; display: block; text-align:center;" >
            <tr>
                <td *ngFor="let weather of dayWeathers.weathers3h">
                    <table>
                        <tr>
                            <td style="height: 1px;" colspan="2">{{ this.Math.round(weather.temperature) }}°C</td>
                            <td rowspan="2">
                                <img src="http://openweathermap.org/img/w/{{ weather.weathers[0].icon }}.png" [title]="weather.weathers[0].description" >
                                <br>
                                <span class="wind" [title]="'Vent : ' + Math.round(weather.wind.deg) + ' degrés'" [style.transform]="'rotate(' + Math.round(weather.wind.deg) + 'deg)'"></span>
                                <br>
                                <span style="font-size: 12px;">
                                    {{ this.Math.round(weather.wind.speed * 3,6) }} km/h
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="min-width:17px; border-right:1px solid black"></td>
                            <td style="min-width:17px;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ weather.datetime  | amDateFormat:'H' }}h</td>
                        </tr>
                    </table>
                </td>
            </tr>                                          
        </table>       

        <ul>
            <li>Pression atmosphérique moyenne :
                <ul>
                    <li>Au niveau de la mer : {{ this.Math.round(dayWeathers.dailyWeather.sea_level) }} hPa</li>
                    <li>Au niveau du sol : {{ this.Math.round(dayWeathers.dailyWeather.grnd_level) }} hPa</li>
                </ul>
            </li>            
            <li>Humidité moyenne : {{ this.Math.round(dayWeathers.dailyWeather.humidity) }} %</li>
            <li>Opacité du ciel moyenne : {{ this.Math.round(dayWeathers.dailyWeather.clouds) }} %</li>
            <li>Pluie totale : {{ this.Math.round(dayWeathers.dailyWeather.rain) }} mm</li>
            <li>Neige totale : {{ this.Math.round(dayWeathers.dailyWeather.snow) }} mm</li>
        </ul>
    </div>
</ngb-alert>