<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Réinitialiser le mot de passe</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>L'email n'est pas enregistré!</strong> Veuillez vérifier votre email et recommencer.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Entrez l'adresse email que vous utilisez pour vous connecter.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Veuillez vérifier vos emails pour avoir les détails sur la procédure de réinitialisation de votre mot de passe..</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            L'email est obligatoire.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            L'email est invalide.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            L'email doit faire au moins 5 caractères.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            L'email ne doit pas dépasser 50 caractères.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Réinitialiser le mot de passe</button>
            </form>

        </div>
    </div>
</div>
