<div class="modal-header">
    <h4 class="modal-title">Connexion</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Échec de la connexion!</strong> Veuillez vérifier vos identifiants et recommencer.
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Votre identifiant"
                    [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Votre mot de passe"
                           [(ngModel)]="password">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                        <span>Se souvenir de moi</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()">Vous avez oublié votre mot de passe ?</a>
            </div>
            <div class="alert alert-warning">
                <span>Vous n'avez pas encore de compte ?</span>
                <a class="alert-link" (click)="register()">Enregistrer un nouveau compte</a>
            </div>
        </div>
    </div>
</div>
